.Page404{
  min-height: fit-content
}
.error {
    min-height: 100vh;
    position: relative;
    padding: 200px 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 15px;
  }
  
  .error__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .error__content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .error__message {
    text-align: center;
    color: #181828;
  }
  
  .message__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
     font-size: 4.0rem;
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .message__text {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 18px;
    padding: 0 60px;
    max-width: 680px;
    margin: auto;
  }
  
  .error__nav {
    max-width: 600px;
    margin: 40px auto 0;
    text-align: center;
  }
  
  .e-nav__form {
    position: relative;
    height: 45px;
    overflow: hidden;
    width: 170px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #212121;
    padding-left: 10px;
    padding-right: 46px;
  }
