<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Client List -{{ cardTitle() }}
        <div class="btn btn-danger" (click)="changeTitle()">Change Title</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-11">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Client Name</th>
                  <th>Project Name</th>
                  <th>Emp Name</th>
                  <th>empEmail</th>
                  <th>Start Date</th>
                  <th>Edit</th>
                </tr>
              </thead>
              @if (isLoading == true) {
              <app-loader></app-loader>
              }@else{
              <tbody>
                @for (item of projectList(); track $index) {
                <tr>
                  <td>{{ item.clientName }}</td>
                  <td>{{ item.projectName }}</td>
                  <td>{{ item.empName }}</td>
                  <td>{{ item.empEmailId }}</td>
                  <td>{{ item.startDate | date : "dd-MMM-yy" }}</td>
                  <td>
                    <!--  <button class="btn btn-primary" (click)="onEdit(item)">
                      Edit
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="onDelete(item.clientId)"
                    >
                      Delete
                    </button> -->
                  </td>
                </tr>
                }
              </tbody>
              }
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client</div>
      <div class="card-body">
        <form [formGroup]="projectForm">
          <div class="row">
            <div class="col-6">
              <label for="projectName">Project Name</label>
              <input
                type="text"
                formControlName="projectName"
                class="form-control"
              />
            </div>
            @if(projectForm.controls['projectName'].touched){
            <div class="text-danger">
              @if(projectForm.controls['projectName'].errors?.['required']){
              <span>{{ "Constant.VALIDATION_MESSAGE.REQUIRED" }}</span>
              } @if(projectForm.controls['projectName'].errors?.['minLength']){
              <span>{{ "Constant.VALIDATION_MESSAGE.MIN_LENGTH" }}</span>
              }
            </div>
            }

            <div class="col-6">
              <label for="startDate">Start Date</label>
              <input
                type="date"
                formControlName="startDate"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="expectedEndDate">Expected End Date</label>
              <input
                type="date"
                formControlName="expectedEndDate"
                class="form-control"
              />
            </div>

            <div class="col-6">
              <label for="completedDate">Completed Date</label>
              <input
                type="date"
                formControlName="completedDate"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="contactPerson">Contact Name</label>
              <input
                type="text"
                formControlName="contactPerson"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="contactPersonContactNo">Contact Phone</label>
              <input
                type="text"
                formControlName="contactPersonContactNo"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="contactPersonEmailId">Contact Email</label>
              <input
                type="text"
                formControlName="contactPersonEmailId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="totalEmpWorking">Total Working</label>
              <input
                type="number"
                formControlName="totalEmpWorking"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="projectCost">Project Cost</label>
              <input
                type="number"
                formControlName="projectCost"
                class="form-control"
              />
            </div>

            <div class="col-12">
              <label for="projectDetails">Project Description</label>
              <textarea
                formControlName="projectDetails"
                class="form-control"
                rows="2"
                cols="50"
              ></textarea>
            </div>

            <div class="col-6">
              <label for="clientId">Select Client </label>
              <select
                type="text"
                formControlName="clientId"
                class="form-control"
              >
                <option value="">Select Client</option>
                @for(item of clientList; track $index){
                <option [value]="item.clientId">{{ item.companyName }}</option>
                }
              </select>
            </div>
            <div class="col-6">
              <label for="leadByEmpId">Lead By </label>
              <select formControlName="leadByEmpId" class="form-control">
                <option value="">Select Employee</option>
                @for(item of employeeList; track $index){
                <option [value]="item.empId">
                  {{ item.empName }} - {{ item.empCode }}
                </option>
                }
              </select>
            </div>
          </div>
        </form>

        <div class="row pt-2">
          <div class="col-6 text-center">
            <button class="btn btn-secondary">Reset</button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-success"
              [disabled]="projectForm.invalid"
              (click)="onSaveProject()"
            >
              Save Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
