<div class="row">
  @if (isLoading == true) {
  <div class="col-12">
    <p>Loading</p>
    <div class="spinner-border text-primary"></div>
  </div>
  }@else{
    <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Client List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-11">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Client No</th>
                  <th>Company Name</th>
                  <th>Person Name</th>
                  <th>Contact No</th>
                  <th>City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of clientList; track $index) {
                <tr>
                  <td>{{ item.clientId }}</td>
                  <td>{{ item.companyName }}</td>
                  <td>{{ item.contactPersonName }}</td>
                  <td>{{ item.contactNo }}</td>
                  <td>{{ item.city }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="onEdit(item)">
                      Edit
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="onDelete(item.clientId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client</div>
      <div class="card-body">
        <form [formGroup]="projectForm"]>
          <div class="row">
            <div class="col-6">
             <label for="projectName">Project Name</label>
             <input type="text" formControlName="projectName" class="form-control">
            </div>
            <div class="col-6">
              <label for="startDate">Start Date</label>
              <input type="date" formControlName="startDate" class="form-control">
             </div>
             <div class="col-6">
              <label for="expectedEndDate">Expected End Date</label>
              <input type="date" formControlName="expectedEndDate" class="form-control">
             </div>

             <div class="col-6">
             <label for="leadByEmpId">Lead By Emp Id</label>
             <input type="number" formControlName="leadByEmpId" class="form-control">
            </div>
            <div class="col-6">
              <label for="completedDate">Completed Date</label>
              <input type="date" formControlName="completedDate" class="form-control">
             </div>
            <div class="col-6">
             <label for="contactPerson">Contact Name</label>
             <input type="text" formControlName="contactPerson" class="form-control">
            </div>
            <div class="col-6">
            <label for="contactPersonContactNo">Contact Phone</label>
            <input type="text" formControlName="contactPersonContactNo" class="form-control">
           </div>
           <div class="col-6">
            <label for="totalEmpWorking">Total Emp Working</label>
            <input type="text" formControlName="projectName" class="form-control">
           </div>
           <div class="col-6">
            <label for="projectCost">Project Cost</label>
            <input type="text" formControlName="totalEmpWorking" class="form-control">
           </div>
           <div class="col-6">
            <label for="projectDetails">Project Details</label>
            <input type="text" formControlName="projectDetails" class="form-control">
           </div>
           <div class="col-6">
            <label for="contactPersonEmailId">Contact Email Id </label>
            <input type="text" formControlName="contactPersonEmailId" class="form-control">
           </div>
           <div class="col-6">
            <label for="clientId">Client Id </label>
            <input type="text" formControlName="clientId" class="form-control">
           </div>
          </div>
        </form>

        <div class="row pt-2">
          <div class="col-6 text-center">
            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-success"
              [disabled]="!form.valid"
              (click)="onSaveClient()"
            >
              {{ clientObj.clientId != 0 ? "Update Client" : "Save Client" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
